html{
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-controls button {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin: 0 20px;
}

#undo {
  background-color: red;
  color: white;
}

#restart {
  background-color: blue;
  color: white;
}

canvas {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 0 auto;
}
