html{
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFC48C;
}

.top {
  display: flex;
}

.top a {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.top-left, .top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

button {
  font-family: 'Allerta Stencil', sans-serif;
  background-color: #EFFAB4;
  color: black;
  font-size: 25px;
  margin: 0 20px;
}

#instructions-button {
  margin-top: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  font-family: 'Open Sans', sans-serif;
  height: 250px;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EFFAB4;
  border-radius: 10px;
}

.modal-content p {
  padding-left: 15px;
}

#modal-title {
  align-self: center;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 0;
}

canvas {
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}
