html{
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFC48C;
}

.top {
  display: flex;
}

.top a {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.top-left, .top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

button {
  font-family: 'Allerta Stencil', sans-serif;
  background-color: #EFFAB4;
  color: black;
  font-size: 25px;
  margin: 0 20px;
}

#instructions-button {
  margin-top: 10px;
}

.modal {
  display: none;
}

canvas {
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}
